body{
    background-color: #301934;
}
.container{
    max-width: 600px;
}
.btn{
    background: #331845;
    color: white;
    outline: none !important;
    box-shadow: none !important;
}
.btn:focus{
    outline: none !important;
    
}
.btn:hover{
    color: grey !important;
}
.form-control, .form-control:focus {
    background-color: #331840;
    border: 2px solid #331850;
}

input:focus {
    outline:none !important;
}

.input-group-text{
    background: #331845;
    color: white;
    outline: none !important;
    box-shadow: none !important;
    border: 0 #331850;
}

.list-group-item{
    background-color: #331840;
    color: whitesmoke;
}